.portfolio {
  padding: 0px 0px;
}

.portfolio-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: 700px;
  overflow: hidden;
}

.portfolio-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  position: relative;
  padding-bottom: 15%;
  -webkit-transition: 1s;
  transition: 1s;
}
.portfolio-wrapper:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(232, 69, 69, 0.9);
  z-index: 1;
  opacity: 0;
}
.mask:hover {
  opacity: 1;
}

.portfolio-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.portfolio-wrapper-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.portfolio-wrapper-text-title {
  color: #fdf8f8;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
}
@media (max-width: 800px) {
  .portfolio-wrapper-text-title {
    font-size: 10px;
  }
}

.portfolio-wrapper-text-p {
  color: #eda9a9;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  margin-top: 13px;
}
@media (max-width: 800px) {
  .portfolio-wrapper-text-p {
    font-size: 8px;
    margin-top: 6px;
  }
}