.section-icons {
  padding: 121px 0;
}

.container-icons {
  max-width: 1176px;
  padding: 0px 30px;
  margin: auto;
}

.icons-block-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -30px;
}

.icons-block-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 74px;
  margin-left: -30px;
}

.icons-row {
  text-align: center;
  margin-left: 30px;
}

.icons {
  font-size: 60px;
  height: 60px;
  color: #e84545;
}

.icons-title {
  color: #2d3033;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  margin-top: 34px;
}
@media (max-width: 580px) {
  .icons-title {
    height: 15px;
  }
}

.icons-desc {
  margin-top: 25px;
}

.icons-desc-p {
  color: #6c7279;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}